
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    background-color: #4B3F72;
    color: white;
}

.cart-header {
    color: white;
    background-color: #5C5282;
    padding: 10px;
    border-radius: 5px;
}

.cart-item {
    background-color: #6D648B;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
}

.cart-summary {
    background-color: #5C5282;
    padding: 20px;
    border-radius: 5px;
    color: white;
}

    .cart-summary a {
        background-color: #FFC107;
        border: none;
        padding: 10px 20px;
        color:white;
        font-weight:700;
        margin-top: 10px;
    }

.item-details {
    display: flex;
    align-items: center;
}

.item-image {
    width: 100px; 
    margin-right: 10px;
}

.item-name {
    flex-grow: 1;
}

.item-actions {
    text-align: right;
}

.item-actions button {
    background: none;
    border: none;
    color: white;
}

.btn-primary {
    background-color: #8A2BE2;
    border-color: #7c1fa2;
}

.btn-primary:hover {
    background-color: #9b4bd8;
}

.form-label{
    color:black;
}